*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(192, 216, 216);
    
}
.container{
    width: 95%;
    margin: 0   auto;
    padding: 20px 30px;
}
header{
    
    background-color: white;
}
header h1{
    text-align: center;
    font-style: italic;
}

.form{
    background-color: yelloworange;
    max-width: 800px;
    margin: 25px auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: 5px solid white;
}
form *{
    
    width: 90%;
    margin: 10px auto;
    display: block;
    padding: 10px 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.area-display{
    border: 2px solid white;
    width: 100%;
    margin: 10px auto;
    padding: 10px 5px;
}
button{
    cursor: pointer;
    box-shadow: 0 3px 4px black;
    background-color: rgba(156, 5, 156, 0.774);
    color: white;
}





.col{
    width: 30%;
    margin: auto;
    border: 2px solid black;
    min-height: 35%;
    
}

#one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
   
}
#one div{
    min-width:150px;
   text-wrap: no-wrap;
    min-height:initial;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(102, 103, 171);
    color: white;
    margin: 10px auto;

  
  
}
#one div p{

    padding: 5px    0;
    text-transform: capitalize;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid black;
}
footer{
    
    background-color:rgb(102, 103, 171);
}

.end{
    color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    
}
.end p{
    text-transform: capitalize;
}